<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../paper-input/paper-input.html">
<!-- @demo -->
<dom-module id="element-dataBinding">
  <template>
    <style></style>
    <paper-input label="Nombre" value="{{name}}"></paper-input>
    <paper-input label="Edad" value="{{edad}}"></paper-input>
    <h2>mi nombre es [[name]] y tengo [[edad]] anios de edad</h2>
  </template>
  <script>
    Polymer({
      is:"element-dataBinding",
      properties:{
        name:{
          type:String,
          value:"default"
        },
        edad:{
          type:Number,
          value:0
        }
      },
      created: function(){},
      ready: function(){
        // setTimeout(()=>{
        //   this.name = "alfredo";
        //   this.edad = 23
        // },3000);
      },
      attached:function(){},
      detached:function(){},
      attibuteChanged: function(){}
    })
  </script>
</dom-module>







<!-- <link rel="import" href="../polymer/polymer.html">


`element-dataBinding`
creamos data-binding en nuestro elemento

@demo demo/index.html 


<dom-module id="element-dataBinding">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]</h2>
  </template>

  <script>
    Polymer({

      is: 'element-dataBinding',

      properties: {
        prop1: {
          type: String,
          value: 'element-dataBinding',
        },
      },

    });
  </script>
</dom-module> -->
