 <!-- <link rel="import" href="../polymer/polymer.html"> 


`element-child`
creamos un elemento hijo del host

@demo demo/index.html 


<dom-module id="element-child">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]</h2>
  </template>

  <script>
    Polymer({

      is: 'element-child',

      properties: {
        prop1: {
          type: String,
          value: 'element-child',
        },
      },

    });
  </script>
</dom-module> -->



<link rel="import" href="../polymer/polymer.html">

<link rel="import" href="../paper-input/paper-input.html">

<link rel="import" href="element-hijo.html">

<!-- @demo -->
<dom-module id="element-child">
  <template>
    <style>
      :host{
        display: block
      };
    </style>
    
    <paper-input label="Nombre" value="{{name}}"></paper-input>
     
      <element-hijo name="{{name}}"></element-hijo> <h2>y mi edad es {{edad}}</h2>
  </template>
  <script>
    Polymer({
      is:"element-child",
      properties:{
        name:{
          type:String,
          value: "default"
        },
        edad:{
          type:Number,
          value:0
        }
      }
    })
  </script>
</dom-module>
