<dom-module id="element-hijo">
	<template>
		<style>
			:host{
				display:block;
			};
		</style>
		<h2>mi nombre es {{name}}</h2>
	</template>
	<script>
		Polymer({
			is:"element-hijo",
			properties:{
				name:{
					type:String,
					value:"default",
					// notify:true //nos permite enlazar la propiedad name del hijo con el host
				}
			},
		      ready:function(){
		        setTimeout(()=>{
		          this.name="cambio Alfredo";
		        }, 3000);
		      }
		});
	</script>
	
</dom-module>