
<link rel="import" href="../polymer/polymer.html">


<!-- @demo -->
<dom-module id="element-callbacks">
  <template>
    <style>
      :host{
        background-color: gray;
        display: block;
      };
    </style>
    <h2>Llamando a un calback en console.log</h2>
    <h3 id="titulo">texto [[name]]</h3>
  </template>
  <script>
    Polymer({
      is:"element-callbacks",
      properties:{
        name:{
          type: String,
          value: "default"
        }
      },
      created: function(){
        console.log("elemento creado, sin sus propiedades y sin inicializar dom local");
        console.log(this);
        console.log(this.$);
        console.log("======================================")
        // console.log(this.$.titulo);
      },

      ready: function(){
        console.log("elemento listo, dom local inicializado con sus propiedades")
        console.log(this);
        console.log(this.$);
        console.log(this.$.titulo);
        console.log("======================================")
      },

      attached: function(){
        console.log("elemento adjunto al dom principal");
        console.log(this);
        console.log(this.$);
        console.log(this.$.titulo);
        console.log("======================================")
      },
      detached: function(){
        console.log("elemento desadjunto de principal");
        console.log("======================================")
      },
      attributeChanged: function(){
        console.log("se detecto cambios en las propiedades del elemento")
        console.log("======================================")
      }

    });
  </script>
</dom-module>
