<!-- <link rel="import" href="../polymer/polymer.html">


`element-dom`
practicamos con DOM y local DOM

@demo demo/index.html 


<dom-module id="element-dom">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]</h2>
  </template>

  <script>
    Polymer({

      is: 'element-dom',

      properties: {
        prop1: {
          type: String,
          value: 'element-dom',
        },
      },

    });
  </script>
</dom-module>
 -->


 <link rel="import" href="../polymer/polymer.html">
<!-- @demo <--></-->
 <dom-module id="element-dom">
   <template>
     <style></style>

     <div class="contenedor"></div>
     <div id="container"></div>
     <h2>{{name}}</h2>
     <content></content>
   </template>

   <script>
     Polymer({
      is:"element-dom",
      properties:{
        name:{
          type:String,
          value:"default"
        }
      },
      ready:function() {
        console.log(this.$.container);
        console.log(this.$$(".contenedor"));
        console.log(this.$$("h2"));
        console.log(this.$$("template"));
        console.log(this.$$("style"));
      }
     });
   </script>
 </dom-module>