<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/iron-form/iron-form.html">

<dom-module id="formLogin-app">
  <template>
    <style>
      :host {
        display: block;
        text-align: center;
      }

      paper-card{
        width: 400px;
        text-align: left;
        padding: 1em;
      }

      paper-card .card-action{
        padding-top: 1em;
        text-align: right;
      }

      paper-card .card-header{
        font-size: 2em;
      }

      paper-card .card-header iron-icon{
        width: 2em;
        height: 2em;
        color: var(--paper-green-500);
      }

      paper-button[raised]{
        background-color: var(--google-green-300);
        color:white;
      }
      paper-button{
        color:var(--paper-red-500);
      }
 
    </style>
    <paper-card image="" elevation="4" animated-shadow="false">
      <div class="card-header">
        <iron-icon icon="account-box"></iron-icon>
        Ingrese Cuenta
      </div>
      <form is="iron-form" id="form">
        <div class="card-content">
          <paper-input label="Usuario" required type="email"></paper-input>
          <paper-input label="Contraseña" required type="password"></paper-input>
        </div>
        <div class="card-action">
          <paper-button raised id="login">Ingresar</paper-button>
          <paper-button>Cancelar</paper-button>
        </div>
      </form>
      
    </paper-card>
  </template>

  <script>
    Polymer({

      is: 'formLogin-app',
      ready: function(){
        this.$.login.addEventListener("click",()=>{
          this.$.form.submit();
        });
      }

    });
  </script>
</dom-module>
