<link rel="import" href="../polymer/polymer.html">

<!--
`hola-alfredss`
muestra un mensaje de hola mundo

@demo demo/index.html 
-->

<dom-module id="hola-alfredss">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]</h2>

  </template>

  <script>
    Polymer({

      is: 'hola-alfredss',

      properties: {
        prop1: {
          type: String,
          value: 'hola-alfredss',
        },
      },

    });
  </script>
</dom-module>
