<link rel="import" href="../polymer/polymer.html"/>

<!-- @demo -->

<dom-module id="element-properties">
  <template>
    <style>
      :host{
        background-color: gray;
        display: block;
      };
    </style>
    <h2>Hola [[name]] con [[edad]] de edad</h2>
  </template>
  <script>
    Polymer({
      is:"element-properties",
      properties:{
        name:{
          type:String,
          value: "default"
        },
        edad:{
          type:Number,
          value:"0"
        }
      }
    })
  </script>
</dom-module>