<link rel="import" href="../polymer/polymer.html"/>
<!-- @demo -->
<dom-module id="element-propio">
  <template>
    
    <h2>Hola este es mi primer elemento</h2>
  </template>
  <script>
    Polymer({

      is: 'element-propio',


    });
  </script>
</dom-module>



<!-- 

<link rel="import" href="../polymer/polymer.html">


 `element-propio`
creamos nuestro elemento personalizado

@demo demo/index.html  


<dom-module id="element-propio">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]</h2>
  </template>

  <script>
    Polymer({

      is: 'element-propio',

      properties: {
        prop1: {
          type: String,
          value: 'element-propio',
        },
      },

    });
  </script>
</dom-module>
 -->