<!-- <link rel="import" href="../polymer/polymer.html">


`element-observer`
creamos observadores para monitorizar los cambios en las propiedades del elemento

@demo demo/index.html 


<dom-module id="element-observer">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]</h2>
  </template>

  <script>
    Polymer({

      is: 'element-observer',

      properties: {
        prop1: {
          type: String,
          value: 'element-observer',
        },
      },

    });
  </script>
</dom-module>
 -->


 <link rel="import" href="../polymer/polymer.html">

 <link rel="import" href="../paper-input/paper-input.html">
  <!-- @demo -->
 <dom-module id="element-observer">
   
  <template>
    <style></style>
    <paper-input value="{{email}}" label="Texto" type="email"></paper-input>
    <h2>hola mi email es </h2>
  </template>
  <script>
    Polymer({
      is:"element-observer",
      properties:{
        email:{
          type:String,
          observer:"_obsChange"
        }
      },
      ready:function(){

      },
      _obsChange:function(newValue, oldValue){
        console.log(newValue);
        console.log(oldValue);
      }

    });
  </script>
 </dom-module>
