<!-- link rel="import" href="../polymer/polymer.html">


`element-eventos`
creamos enventos clasicos javascript, eventos personalizados , y eventos de la forma mas corta

@demo demo/index.html 


<dom-module id="element-eventos">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]</h2>
  </template>

  <script>
    Polymer({

      is: 'element-eventos',

      properties: {
        prop1: {
          type: String,
          value: 'element-eventos',
        },
      },

    });
  </script>
</dom-module> -->


<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../paper-button/paper-button.html">
<link rel="import" href="element-texto.html">

<dom-module id="element-eventos">
  <template>
    <style>
      paper-button{
        background-color: var(--paper-red-500);
        color:white;
      }
    </style>
    <!-- <paper-button on-click="clicked"> Click </paper-button>   -->
    <paper-button raised id="button">Click</paper-button>
    <element-texto name="{{name}}"></element-texto>
    <h2></h2>
  </template>
  <script>
    Polymer({
      is:"element-eventos",
      properties: {
        name:{
          type:String,
          value:"default"
        }
      },
      listeners:{
        "listenerCustom":"clickedListener"
      },
      ready:function(){
        // this.$$("paper-button").addEventListener("click",()=>this.clicked());
        // this.$.button.addEventListener("click", ()=>{this.clicked()});
        // this.$$("element-texto").addEventListener("eventoCreado",()=>this.clickedCustom());
      },
      clicked:function(e){
        console.log("evento lanzado");
        this.name = "Ricardo";
        console.log(e.target);
      },
      clickedCustom:function(e){
        console.log("evento personalizado");
        this.name = "nombre customizado";
        // console.log(e.target);
      }, 
      clickedListener:function(e){
        console.log("evento listener lanzado")
        this.name = "listener Custom"
        console.log(e.target);
      }
      
    });
  </script>
</dom-module>
