<dom-module id="element-texto">
	<template>
		<style>
			
		</style>
		<h2>mi nombre es {{name}}</h2>
	</template>
	<script>
		Polymer({
			is:"element-texto",
			properties:{
				name:{
					type:String,
					value:"Alfredo"
				}
			},
			ready:function(){
				setTimeout(()=>{
					this.fire("eventoCreado");
					this.fire("listenerCustom");
				},3000);
			}
		});
	</script>
</dom-module>